html{
    scroll-behavior: smooth;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    line-height: 60px;
}
header{
    position: fixed;
    top: 0;
    z-index: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header h2{
    font-weight: bolder;
    letter-spacing: 2px;
}
.temp{
    width: 100%;
    height: 100px;
}

.intro{
    font-size: xx-large;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.info-contents{
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    font-weight: bold;
}
.info-details{
    display: flex;
    margin: 8px 0;

}
.mern{
    font-weight: 600;
    color: #e69604;
}
.experience a{
    color: #e69604;
}
.content{
    background-color: #dddddd;
}
.box-head{
    font-size: xx-large;
    font-weight: bolder;
}
.section-2{
    background-color: #dddddd;
}
.section-2-container{
    background-color: white;
}
.service-head{
    display: flex;
    align-items: center;
}
.contact .head{
    display: flex;
    align-items: center;
}
.contact h1{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    
}
.input-group{
    margin: 10px 0;
}
.input-group label{
    font-weight: bold;
}
.input-group span{
    color: red;
}
.input-group span i{
    color: white;
}
.contact button{
    background-color:black;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    height: 80px;
}
.contact button:hover{
    background-color: white;
    color: black;
}
.social i{
    font-size: 50px;
    color: #e69604;
}